<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration - Learnr </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-card">
            <h2>Register</h2>


            <form method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <button class="button" type="submit">Register</button>
            </form>

            <p><a href="/login/">Already have an account? Login</a></p>
        </div>
    </div>
</body>
</html>
